################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myFinance Calculator/bin/Debug
/myFinance Calculator/obj/Debug
